{
  "openapi": "3.1.0",
  "info": {
    "title": "United Logistics API",
    "version": "0.1.0",
    "description": "Industry-grade public API for fleet, fuel, and toll operations. Every endpoint is scoped to the organization owning the API key. Authentication: bearer API key (`ulk_<prefix>_<secret>`). Rate limit: 60 requests/minute/key by default (override per key via the dashboard).",
    "contact": {
      "name": "United Logistics Engineering",
      "email": "sfuentes@solidarityagents.com"
    }
  },
  "servers": [
    {
      "url": "https://unitedpetroleum.app/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "ulk_<prefix>_<secret>",
        "description": "Authorization: Bearer ulk_<prefix>_<secret>. Cree la clave en Configuraci\u00f3n \u2192 API."
      }
    },
    "schemas": {
      "ErrorObject": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "unauthorized"
              },
              "message": {
                "type": "string",
                "example": "Missing Authorization header."
              },
              "details": {}
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "PaginationCursor": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page. Null when there are no more results.",
            "example": "eyJpZCI6IjAxQUI..."
          },
          "has_more": {
            "type": "boolean"
          }
        },
        "required": [
          "next_cursor",
          "has_more"
        ]
      },
      "Provider": {
        "anyOf": [
          {
            "type": "string",
            "enum": [
              "karma",
              "internal"
            ]
          },
          {
            "type": "string",
            "pattern": "^[a-z][a-z0-9][a-z0-9_-]{0,62}$"
          }
        ],
        "description": "Registered: karma (Karma sync), internal (created in the app). Custom integrators use a stable lowercase slug.",
        "example": "karma"
      },
      "EnabledModules": {
        "type": "object",
        "properties": {
          "paso_rapido": {
            "type": "boolean"
          },
          "telematics": {
            "type": "boolean"
          },
          "pois": {
            "type": "boolean"
          },
          "fuel_management": {
            "type": "boolean"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "avatar_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled_modules": {
            "$ref": "#/components/schemas/EnabledModules"
          },
          "project_purge_grace_days": {
            "type": [
              "integer",
              "null"
            ]
          },
          "archived_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "members_count": {
            "type": "integer",
            "minimum": 0
          },
          "projects_count": {
            "type": "integer",
            "minimum": 0
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "avatar_url",
          "enabled_modules",
          "project_purge_grace_days",
          "archived_at",
          "members_count",
          "projects_count",
          "created_at",
          "updated_at"
        ]
      },
      "OrganizationMeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Organization"
          }
        },
        "required": [
          "data"
        ]
      },
      "Operation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "org_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_default": {
            "type": "boolean"
          },
          "vehicle_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of vehicles assigned to this operation (when requested)."
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "org_id",
          "name",
          "description",
          "is_default",
          "created_at",
          "updated_at"
        ]
      },
      "OperationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "has_more": {
                "type": "boolean"
              }
            },
            "required": [
              "next_cursor",
              "has_more"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "OperationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Operation"
          }
        },
        "required": [
          "data"
        ]
      },
      "CreateOperationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "is_default": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateOperationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "is_default": {
            "type": "boolean"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": "integer"
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "org_id": {
            "type": "string",
            "format": "uuid"
          },
          "fleet_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "device_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "time_zone": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "America/Santo_Domingo",
              "America/New_York",
              "America/Puerto_Rico",
              "America/Bogota",
              "America/Caracas",
              "America/Panama",
              "America/Mexico_City",
              "America/Guatemala",
              "America/Chicago",
              "America/Denver",
              "America/Phoenix",
              "America/Los_Angeles",
              "America/Havana",
              "America/Jamaica",
              "America/Lima",
              "America/Santiago",
              "America/Buenos_Aires",
              "America/Sao_Paulo",
              "UTC"
            ],
            "description": "IANA time zone for trip and event timestamps (e.g. America/Santo_Domingo).",
            "example": "America/Santo_Domingo"
          },
          "number": {
            "type": [
              "string",
              "null"
            ]
          },
          "license_plate": {
            "type": [
              "string",
              "null"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Raw vehicle type string as reported by the provider (e.g. 'truck', 'sedan')."
          },
          "sub_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "year": {
            "type": [
              "string",
              "null"
            ]
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "sim_imsi": {
            "type": [
              "string",
              "null"
            ]
          },
          "sim_phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider_metadata": {
            "description": "Free-form provider-specific structured metadata. Schema varies by provider."
          },
          "fetch_timestamp": {
            "type": [
              "string",
              "null"
            ]
          },
          "icon_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "maintenance_status": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "vehicle_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "User-curated vehicle classification used for analytics (overrides `type`)."
          },
          "deactivated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivation_reason": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "external_id",
          "provider",
          "org_id",
          "fleet_id",
          "device_id",
          "time_zone",
          "number",
          "license_plate",
          "title",
          "type",
          "sub_type",
          "year",
          "color",
          "sim_imsi",
          "sim_phone",
          "fetch_timestamp",
          "icon_url",
          "maintenance_status",
          "vehicle_type",
          "deactivated_at",
          "deactivation_reason"
        ]
      },
      "CreateVehicleResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Vehicle"
          }
        },
        "required": [
          "data"
        ]
      },
      "CreateVehicleRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "provider": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "karma",
                  "internal"
                ]
              },
              {
                "type": "string",
                "pattern": "^[a-z][a-z0-9][a-z0-9_-]{0,62}$"
              }
            ]
          },
          "fleet_id": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "device_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "time_zone": {
            "type": "string",
            "enum": [
              "America/Santo_Domingo",
              "America/New_York",
              "America/Puerto_Rico",
              "America/Bogota",
              "America/Caracas",
              "America/Panama",
              "America/Mexico_City",
              "America/Guatemala",
              "America/Chicago",
              "America/Denver",
              "America/Phoenix",
              "America/Los_Angeles",
              "America/Havana",
              "America/Jamaica",
              "America/Lima",
              "America/Santiago",
              "America/Buenos_Aires",
              "America/Sao_Paulo",
              "UTC"
            ]
          },
          "number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "license_plate": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "sub_type": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "year": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "color": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "sim_imsi": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "sim_phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "vehicle_type": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "provider_metadata": {}
        },
        "required": [
          "external_id",
          "provider"
        ]
      },
      "VehicleListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vehicle"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "VehicleResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Vehicle"
          }
        },
        "required": [
          "data"
        ]
      },
      "UpdateVehicleRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "provider": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "karma",
                  "internal"
                ]
              },
              {
                "type": "string",
                "pattern": "^[a-z][a-z0-9][a-z0-9_-]{0,62}$"
              }
            ]
          },
          "fleet_id": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "device_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "time_zone": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "America/Santo_Domingo",
              "America/New_York",
              "America/Puerto_Rico",
              "America/Bogota",
              "America/Caracas",
              "America/Panama",
              "America/Mexico_City",
              "America/Guatemala",
              "America/Chicago",
              "America/Denver",
              "America/Phoenix",
              "America/Los_Angeles",
              "America/Havana",
              "America/Jamaica",
              "America/Lima",
              "America/Santiago",
              "America/Buenos_Aires",
              "America/Sao_Paulo",
              "UTC"
            ]
          },
          "number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "license_plate": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 200
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "sub_type": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "year": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 20
          },
          "color": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "sim_imsi": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "sim_phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "vehicle_type": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "provider_metadata": {},
          "maintenance_status": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "reactivate": {
            "type": "boolean"
          }
        }
      },
      "MapVehicleLocation": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "integer"
          },
          "vehicle_id": {
            "type": "integer"
          },
          "carnumber": {
            "type": "string"
          },
          "device_id": {
            "type": "string"
          },
          "extra": {
            "type": "string"
          },
          "edt": {
            "type": "string"
          },
          "eid": {
            "type": "integer"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "spd": {
            "type": "number"
          },
          "head": {
            "type": "number"
          },
          "odo": {
            "type": "number"
          },
          "alt": {
            "type": "number"
          },
          "eng": {
            "type": "integer"
          },
          "driver_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Provider driver external_id at time of snapshot (`drivers.external_id`).",
            "example": 4821
          },
          "car_title": {
            "type": "string"
          },
          "license_plate": {
            "type": "string"
          },
          "icon_url": {
            "type": "string"
          },
          "car_type": {
            "type": "string"
          },
          "sub_type": {
            "type": "string"
          }
        },
        "required": [
          "message_id",
          "vehicle_id",
          "carnumber",
          "device_id",
          "edt",
          "eid",
          "latitude",
          "longitude",
          "spd",
          "head",
          "odo",
          "alt"
        ]
      },
      "VehicleLocationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "external_id": {
                "type": "integer"
              },
              "provider": {
                "type": "string"
              },
              "location": {
                "$ref": "#/components/schemas/MapVehicleLocation"
              },
              "location_updated_at": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "external_id",
              "provider",
              "location",
              "location_updated_at"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "VehicleLocationUpdateRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "provider": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "karma",
                  "internal"
                ]
              },
              {
                "type": "string",
                "pattern": "^[a-z][a-z0-9][a-z0-9_-]{0,62}$"
              }
            ]
          },
          "message_id": {
            "type": "integer"
          },
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "edt": {
            "type": "string"
          },
          "eid": {
            "type": "integer"
          },
          "spd": {
            "type": "number"
          },
          "head": {
            "type": "number"
          },
          "odo": {
            "type": "number"
          },
          "alt": {
            "type": "number"
          },
          "eng": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1
          },
          "driver_id": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0,
            "description": "Provider driver external_id currently operating this vehicle (`drivers.external_id`). Optional \u2014 pass `null` to clear.",
            "example": 4821
          },
          "extra": {
            "type": [
              "string",
              "null"
            ]
          },
          "device_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "carnumber": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "message_id",
          "latitude",
          "longitude"
        ]
      },
      "VehicleLocationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "locations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MapVehicleLocation"
                }
              },
              "total": {
                "type": "integer"
              }
            },
            "required": [
              "locations",
              "total"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "Driver": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": "integer",
            "description": "Org-scoped integer id used as the natural key when paired with `provider`."
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "org_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "driver_key": {
            "type": "string",
            "description": "Unique RFID/credential the driver presents on the in-vehicle device."
          },
          "license_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "profile_picture_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ]
          },
          "phone_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivation_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "external_id",
          "provider",
          "org_id",
          "name",
          "driver_key",
          "license_number",
          "profile_picture_url",
          "status",
          "phone_number",
          "email",
          "notes",
          "deactivated_at",
          "deactivation_reason",
          "created_at",
          "updated_at"
        ]
      },
      "DriverListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Driver"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "DriverResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Driver"
          }
        },
        "required": [
          "data"
        ]
      },
      "CreateDriverRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "provider": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "karma",
                  "internal"
                ]
              },
              {
                "type": "string",
                "pattern": "^[a-z][a-z0-9][a-z0-9_-]{0,62}$"
              }
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "driver_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "license_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "profile_picture_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "on_leave",
              "suspended"
            ]
          },
          "phone_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "email": {
            "anyOf": [
              {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 200,
                "format": "email"
              },
              {
                "type": "string",
                "enum": [
                  ""
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        },
        "required": [
          "external_id",
          "provider",
          "name",
          "driver_key"
        ]
      },
      "UpdateDriverRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "provider": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "karma",
                  "internal"
                ]
              },
              {
                "type": "string",
                "pattern": "^[a-z][a-z0-9][a-z0-9_-]{0,62}$"
              }
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "driver_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "license_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "profile_picture_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "on_leave",
              "suspended"
            ]
          },
          "phone_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "email": {
            "anyOf": [
              {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 200,
                "format": "email"
              },
              {
                "type": "string",
                "enum": [
                  ""
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "reactivate": {
            "type": "boolean"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "org_id": {
            "type": "string"
          },
          "fleet_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "vehicle_external_id": {
            "type": "integer",
            "description": "The provider's id for the vehicle that emitted this event. Pair with /api/v1/vehicles?include_inactive=true to resolve."
          },
          "device_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "external_message_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Provider message id. Stable per `fleet_id`."
          },
          "event_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "latitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "longitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "eid": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Provider event-type code."
          },
          "speed_kph": {
            "type": [
              "number",
              "null"
            ]
          },
          "heading_deg": {
            "type": [
              "number",
              "null"
            ]
          },
          "odometer_km": {
            "type": [
              "number",
              "null"
            ]
          },
          "altitude_m": {
            "type": [
              "number",
              "null"
            ]
          },
          "engine_status": {
            "type": [
              "number",
              "null"
            ]
          },
          "ignition_status": {
            "type": [
              "number",
              "null"
            ]
          },
          "extra": {
            "type": [
              "string",
              "null"
            ]
          },
          "inserted_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "provider",
          "org_id",
          "fleet_id",
          "vehicle_external_id",
          "device_id",
          "external_message_id",
          "event_date",
          "latitude",
          "longitude",
          "eid",
          "speed_kph",
          "heading_deg",
          "odometer_km",
          "altitude_m",
          "engine_status",
          "ignition_status",
          "extra",
          "inserted_at"
        ]
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "EventBulkCreateResponse": {
        "type": "object",
        "properties": {
          "inserted": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": [
          "inserted",
          "skipped",
          "ids"
        ]
      },
      "EventBulkCreateRequest": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "vehicle_external_id": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "description": "Provider vehicle id (= `vehicles.external_id`).",
                "example": 12345
              },
              "fleet_id": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "description": "Fleet (provider account) scope. Required on each event; used for access validation.",
                "example": 1029
              },
              "provider": {
                "anyOf": [
                  {
                    "type": "string",
                    "enum": [
                      "karma",
                      "internal"
                    ]
                  },
                  {
                    "type": "string",
                    "pattern": "^[a-z][a-z0-9][a-z0-9_-]{0,62}$"
                  }
                ],
                "description": "Telematics provider slug (e.g. `karma`, `queclink`, custom integrator slug).",
                "example": "karma"
              },
              "external_message_id": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "description": "Provider message id. Required for idempotent bulk inserts; unique per `fleet_id`.",
                "example": 55001234
              },
              "event_date": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when the event occurred.",
                "example": "2026-05-15T14:32:10.000Z"
              },
              "device_id": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 255,
                "example": "GPS-DEV-001"
              },
              "latitude": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": -90,
                "maximum": 90
              },
              "longitude": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": -180,
                "maximum": 180
              },
              "eid": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Provider event-type code.",
                "example": 1
              },
              "speed_kph": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              },
              "heading_deg": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0,
                "maximum": 360
              },
              "odometer_km": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              },
              "altitude_m": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "engine_status": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "ignition_status": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "extra": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 4096,
                "description": "Opaque provider payload (driver key, raw extras, etc.)."
              }
            },
            "required": [
              "vehicle_external_id",
              "fleet_id",
              "provider",
              "external_message_id",
              "event_date"
            ]
          },
          {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "vehicle_external_id": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "description": "Provider vehicle id (= `vehicles.external_id`).",
                  "example": 12345
                },
                "fleet_id": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "description": "Fleet (provider account) scope. Required on each event; used for access validation.",
                  "example": 1029
                },
                "provider": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "karma",
                        "internal"
                      ]
                    },
                    {
                      "type": "string",
                      "pattern": "^[a-z][a-z0-9][a-z0-9_-]{0,62}$"
                    }
                  ],
                  "description": "Telematics provider slug (e.g. `karma`, `queclink`, custom integrator slug).",
                  "example": "karma"
                },
                "external_message_id": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "description": "Provider message id. Required for idempotent bulk inserts; unique per `fleet_id`.",
                  "example": 55001234
                },
                "event_date": {
                  "type": "string",
                  "format": "date-time",
                  "description": "ISO 8601 timestamp when the event occurred.",
                  "example": "2026-05-15T14:32:10.000Z"
                },
                "device_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "maxLength": 255,
                  "example": "GPS-DEV-001"
                },
                "latitude": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": -90,
                  "maximum": 90
                },
                "longitude": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": -180,
                  "maximum": 180
                },
                "eid": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Provider event-type code.",
                  "example": 1
                },
                "speed_kph": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "heading_deg": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0,
                  "maximum": 360
                },
                "odometer_km": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "altitude_m": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "engine_status": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "ignition_status": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "extra": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "maxLength": 4096,
                  "description": "Opaque provider payload (driver key, raw extras, etc.)."
                }
              },
              "required": [
                "vehicle_external_id",
                "fleet_id",
                "provider",
                "external_message_id",
                "event_date"
              ]
            },
            "minItems": 1,
            "maxItems": 1000
          }
        ]
      },
      "EventBulkDeleteResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "integer"
          },
          "not_found": {
            "type": "integer"
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": [
          "deleted",
          "not_found",
          "ids"
        ]
      },
      "EventBulkDeleteRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "exclusiveMinimum": 0
            },
            "minItems": 1,
            "maxItems": 1000,
            "description": "Numeric event ids to delete. Scoped to the API key's organization.",
            "example": [
              987654321,
              987654322
            ]
          }
        },
        "required": [
          "ids"
        ]
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Event"
          }
        },
        "required": [
          "data"
        ]
      },
      "Trip": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Internal numeric id. Stable per org.",
            "example": 482219
          },
          "external_id": {
            "type": "integer",
            "description": "Provider trip id (legacy `trip_id`). Stable per `org_id`.",
            "example": 9876543
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "org_id": {
            "type": "string"
          },
          "vehicle_external_id": {
            "type": "integer",
            "description": "Provider vehicle id (legacy `vehicle_id`).",
            "example": 12345
          },
          "driver_external_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Local driver id (legacy `driver_id`).",
            "example": 4421
          },
          "device_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vehicle_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "trip_active": {
            "type": [
              "integer",
              "null"
            ]
          },
          "start_message_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "start_latitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "start_longitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "start_odometer_km": {
            "type": [
              "number",
              "null"
            ]
          },
          "stop_message_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stop_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "stop_latitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "stop_longitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "stop_odometer_km": {
            "type": [
              "number",
              "null"
            ]
          },
          "duration_s": {
            "type": [
              "integer",
              "null"
            ]
          },
          "distance_km": {
            "type": [
              "number",
              "null"
            ]
          },
          "duration_night_s": {
            "type": [
              "integer",
              "null"
            ]
          },
          "distance_night_km": {
            "type": [
              "number",
              "null"
            ]
          },
          "max_speed_kph": {
            "type": [
              "number",
              "null"
            ]
          },
          "driving_score": {
            "type": [
              "integer",
              "null"
            ]
          },
          "eco_score": {
            "type": [
              "number",
              "null"
            ]
          },
          "fetch_timestamp": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "external_id",
          "provider",
          "org_id",
          "vehicle_external_id",
          "driver_external_id",
          "device_id",
          "vehicle_number",
          "trip_active",
          "start_message_id",
          "start_date",
          "start_latitude",
          "start_longitude",
          "start_odometer_km",
          "stop_message_id",
          "stop_date",
          "stop_latitude",
          "stop_longitude",
          "stop_odometer_km",
          "duration_s",
          "distance_km",
          "duration_night_s",
          "distance_night_km",
          "max_speed_kph",
          "driving_score",
          "eco_score",
          "fetch_timestamp",
          "created_at",
          "updated_at"
        ]
      },
      "TripListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trip"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "CreateTripResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Trip"
          }
        },
        "required": [
          "data"
        ]
      },
      "CreateTripRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Provider trip id (legacy `trip_id`). Unique per `org_id`.",
            "example": 9876543
          },
          "vehicle_external_id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Provider vehicle id (legacy `vehicle_id`).",
            "example": 12345
          },
          "provider": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "default": "karma",
            "description": "Telematics provider slug. Defaults to `karma`.",
            "example": "karma"
          },
          "driver_external_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Provider driver id, if known.",
            "example": 4421
          },
          "device_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "example": "GPS-DEV-001"
          },
          "vehicle_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Denormalized vehicle number at the time of the trip.",
            "example": "UL-021"
          },
          "trip_active": {
            "type": [
              "integer",
              "null"
            ]
          },
          "start_message_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the trip started.",
            "example": "2026-05-26T08:32:00.000Z"
          },
          "start_latitude": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90
          },
          "start_longitude": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180
          },
          "start_odometer_km": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "stop_message_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stop_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "stop_latitude": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90
          },
          "stop_longitude": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180
          },
          "stop_odometer_km": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "duration_s": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "distance_km": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "duration_night_s": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "distance_night_km": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "max_speed_kph": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "driving_score": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "eco_score": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          }
        },
        "required": [
          "external_id",
          "vehicle_external_id",
          "start_date"
        ]
      },
      "TripBulkImportResponse": {
        "type": "object",
        "properties": {
          "inserted": {
            "type": "integer",
            "description": "Number of trips newly created.",
            "example": 18
          },
          "updated": {
            "type": "integer",
            "description": "Number of existing trips updated.",
            "example": 2
          },
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Internal ids of every imported (inserted or updated) trip."
          }
        },
        "required": [
          "inserted",
          "updated",
          "ids"
        ]
      },
      "TripBulkImportRequest": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "external_id": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "description": "Provider trip id (legacy `trip_id`). Unique per `org_id`.",
                "example": 9876543
              },
              "vehicle_external_id": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "description": "Provider vehicle id (legacy `vehicle_id`).",
                "example": 12345
              },
              "provider": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "default": "karma",
                "description": "Telematics provider slug. Defaults to `karma`.",
                "example": "karma"
              },
              "driver_external_id": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Provider driver id, if known.",
                "example": 4421
              },
              "device_id": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 255,
                "example": "GPS-DEV-001"
              },
              "vehicle_number": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 255,
                "description": "Denormalized vehicle number at the time of the trip.",
                "example": "UL-021"
              },
              "trip_active": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "start_message_id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "start_date": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when the trip started.",
                "example": "2026-05-26T08:32:00.000Z"
              },
              "start_latitude": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": -90,
                "maximum": 90
              },
              "start_longitude": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": -180,
                "maximum": 180
              },
              "start_odometer_km": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              },
              "stop_message_id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "stop_date": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "stop_latitude": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": -90,
                "maximum": 90
              },
              "stop_longitude": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": -180,
                "maximum": 180
              },
              "stop_odometer_km": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              },
              "duration_s": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 0
              },
              "distance_km": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              },
              "duration_night_s": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 0
              },
              "distance_night_km": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              },
              "max_speed_kph": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              },
              "driving_score": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 0,
                "maximum": 100
              },
              "eco_score": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0,
                "maximum": 100
              }
            },
            "required": [
              "external_id",
              "vehicle_external_id",
              "start_date"
            ]
          },
          {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "external_id": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "description": "Provider trip id (legacy `trip_id`). Unique per `org_id`.",
                  "example": 9876543
                },
                "vehicle_external_id": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "description": "Provider vehicle id (legacy `vehicle_id`).",
                  "example": 12345
                },
                "provider": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 64,
                  "default": "karma",
                  "description": "Telematics provider slug. Defaults to `karma`.",
                  "example": "karma"
                },
                "driver_external_id": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "Provider driver id, if known.",
                  "example": 4421
                },
                "device_id": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "maxLength": 255,
                  "example": "GPS-DEV-001"
                },
                "vehicle_number": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "maxLength": 255,
                  "description": "Denormalized vehicle number at the time of the trip.",
                  "example": "UL-021"
                },
                "trip_active": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "start_message_id": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "start_date": {
                  "type": "string",
                  "format": "date-time",
                  "description": "ISO 8601 timestamp when the trip started.",
                  "example": "2026-05-26T08:32:00.000Z"
                },
                "start_latitude": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": -90,
                  "maximum": 90
                },
                "start_longitude": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": -180,
                  "maximum": 180
                },
                "start_odometer_km": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "stop_message_id": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "stop_date": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                },
                "stop_latitude": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": -90,
                  "maximum": 90
                },
                "stop_longitude": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": -180,
                  "maximum": 180
                },
                "stop_odometer_km": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "duration_s": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 0
                },
                "distance_km": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "duration_night_s": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 0
                },
                "distance_night_km": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "max_speed_kph": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0
                },
                "driving_score": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 0,
                  "maximum": 100
                },
                "eco_score": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "minimum": 0,
                  "maximum": 100
                }
              },
              "required": [
                "external_id",
                "vehicle_external_id",
                "start_date"
              ]
            },
            "minItems": 1,
            "maxItems": 1000
          }
        ]
      },
      "TripResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Trip"
          }
        },
        "required": [
          "data"
        ]
      },
      "UpdateTripRequest": {
        "type": "object",
        "properties": {
          "driver_external_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "device_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "vehicle_number": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "trip_active": {
            "type": [
              "integer",
              "null"
            ]
          },
          "start_message_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "start_latitude": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90
          },
          "start_longitude": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180
          },
          "start_odometer_km": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "stop_message_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stop_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "stop_latitude": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90
          },
          "stop_longitude": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180
          },
          "stop_odometer_km": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "duration_s": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "distance_km": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "duration_night_s": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "distance_night_km": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "max_speed_kph": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "driving_score": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "eco_score": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": "integer",
            "description": "Provider project id (legacy `fleet_id`)."
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "org_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "fetch_timestamp": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivation_reason": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "external_id",
          "provider",
          "name",
          "org_id",
          "fetch_timestamp",
          "deactivated_at",
          "deactivation_reason"
        ]
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Project"
          }
        },
        "required": [
          "data"
        ]
      },
      "Brand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "org_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "green_max": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Upper bound (kph) for the 'green' speed bucket."
          },
          "yellow_max": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Upper bound (kph) for the 'yellow' speed bucket."
          },
          "red_threshold": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Lower bound (kph) where the 'red' (over-speed) bucket begins."
          },
          "idle_max_percentage": {
            "type": [
              "number",
              "null"
            ],
            "description": "Maximum allowed idle-time percentage before the vehicle is flagged."
          },
          "fuel_efficiency_min": {
            "type": [
              "number",
              "null"
            ]
          },
          "fuel_efficiency_max": {
            "type": [
              "number",
              "null"
            ]
          },
          "is_default": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "org_id",
          "name",
          "description",
          "green_max",
          "yellow_max",
          "red_threshold",
          "idle_max_percentage",
          "fuel_efficiency_min",
          "fuel_efficiency_max",
          "is_default",
          "created_at",
          "updated_at"
        ]
      },
      "BrandListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Brand"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "GpsFleet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": "integer",
            "description": "Provider fleet id (legacy Karma project id)."
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "org_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "fetch_timestamp": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivation_reason": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "external_id",
          "provider",
          "name",
          "org_id",
          "fetch_timestamp",
          "deactivated_at",
          "deactivation_reason"
        ]
      },
      "GpsFleetListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpsFleet"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "has_more": {
                "type": "boolean"
              }
            },
            "required": [
              "next_cursor",
              "has_more"
            ]
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "GpsFleetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GpsFleet"
          }
        },
        "required": [
          "data"
        ]
      },
      "POI": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Internal numeric POI id. Stable for the lifetime of the POI.",
            "example": 42
          },
          "org_id": {
            "type": "string",
            "format": "uuid"
          },
          "fleet_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Fleet (provider account) this POI is scoped to.",
            "example": 1029
          },
          "name": {
            "type": "string",
            "example": "Estaci\u00f3n La Vega"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "latitude": {
            "type": "number",
            "example": 19.221
          },
          "longitude": {
            "type": "number",
            "example": -70.529
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "geometry_type": {
            "type": "string",
            "enum": [
              "circle",
              "polygon"
            ],
            "description": "`circle` for radius-based geofences, `polygon` for arbitrary shapes.",
            "example": "circle"
          },
          "geofence_radius_meters": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Radius in meters for circle geofences (10-1000). `null` for polygons.",
            "example": 50
          },
          "polygon_coordinates": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "array",
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "Polygon vertices as `[latitude, longitude]` tuples. Closed automatically (no need to repeat the first point).",
            "example": [
              [
                18.5,
                -69.9
              ],
              [
                18.51,
                -69.9
              ],
              [
                18.51,
                -69.89
              ],
              [
                18.5,
                -69.89
              ]
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User-defined tags used for filtering and reports.",
            "example": [
              "estacion",
              "gasolinera"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "org_id",
          "fleet_id",
          "name",
          "description",
          "latitude",
          "longitude",
          "image_url",
          "geometry_type",
          "geofence_radius_meters",
          "polygon_coordinates",
          "tags",
          "created_at",
          "updated_at"
        ]
      },
      "POIListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/POI"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "CreatePOIResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/POI"
          }
        },
        "required": [
          "data"
        ]
      },
      "CreatePOIRequest": {
        "type": "object",
        "properties": {
          "fleet_id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Fleet (provider account) this POI is scoped to.",
            "example": 1029
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Human-readable name.",
            "example": "Cliente Altice \u2013 B\u00e1varo"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "description": "Free-form description.",
            "example": "Punto de entrega cliente Altice zona este"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Public image URL (typically Supabase storage `poi-images` bucket).",
            "example": null
          },
          "geometry_type": {
            "type": "string",
            "enum": [
              "circle",
              "polygon"
            ],
            "default": "circle",
            "description": "`circle` for radius-based geofences, `polygon` for arbitrary shapes.",
            "example": "circle"
          },
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "description": "Required for `circle`. For `polygon`, derived from centroid if omitted.",
            "example": 18.6792
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "description": "Required for `circle`. For `polygon`, derived from centroid if omitted.",
            "example": -68.4014
          },
          "geofence_radius_meters": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 10,
            "maximum": 1000,
            "description": "Required for `circle`. 10\u20131000 meters. `null` for polygons.",
            "example": 250
          },
          "polygon_coordinates": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "array",
              "prefixItems": [
                {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90
                },
                {
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180
                }
              ]
            },
            "minItems": 3,
            "maxItems": 500,
            "description": "Required for `polygon`. At least 3 `[lat, lng]` vertices; the polygon is closed automatically.",
            "example": [
              [
                18.5012,
                -69.9305
              ],
              [
                18.5012,
                -69.929
              ],
              [
                18.5,
                -69.929
              ],
              [
                18.5,
                -69.9305
              ]
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "maxItems": 32,
            "description": "User-defined tags for filtering and reports.",
            "example": [
              "cliente",
              "distribuci\u00f3n-este"
            ]
          }
        },
        "required": [
          "fleet_id",
          "name"
        ]
      },
      "POIResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/POI"
          }
        },
        "required": [
          "data"
        ]
      },
      "UpdatePOIRequest": {
        "type": "object",
        "properties": {
          "fleet_id": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "example": 1029
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "Cliente Altice \u2013 B\u00e1varo"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000,
            "example": "Actualizado: nuevo punto de entrega"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": null
          },
          "geometry_type": {
            "type": "string",
            "enum": [
              "circle",
              "polygon"
            ],
            "example": "circle"
          },
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "example": 18.6792
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "example": -68.4014
          },
          "geofence_radius_meters": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 10,
            "maximum": 1000,
            "example": 300
          },
          "polygon_coordinates": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "array",
              "prefixItems": [
                {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90
                },
                {
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180
                }
              ]
            },
            "minItems": 3,
            "maxItems": 500
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "maxItems": 32,
            "example": [
              "cliente",
              "vip"
            ]
          }
        }
      },
      "POIVisit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 9183721
          },
          "org_id": {
            "type": "string",
            "format": "uuid",
            "example": "d87f7281-ea19-45cd-b6fd-d8eb9e310da1"
          },
          "poi_id": {
            "type": "integer",
            "example": 481
          },
          "vehicle_external_id": {
            "type": "integer",
            "example": 16444
          },
          "stay_id": {
            "type": [
              "integer",
              "null"
            ],
            "example": 9183714
          },
          "visit_start": {
            "type": [
              "string",
              "null"
            ],
            "example": "2026-05-20T13:11:03.412Z"
          },
          "visit_end": {
            "type": [
              "string",
              "null"
            ],
            "example": "2026-05-20T14:42:51.000Z"
          },
          "duration_minutes": {
            "type": [
              "integer",
              "null"
            ],
            "example": 92
          },
          "poi_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Cliente Altice \u2013 B\u00e1varo"
          },
          "poi_tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "example": [
              "cliente",
              "distribuci\u00f3n-este"
            ]
          },
          "poi_latitude": {
            "type": [
              "number",
              "null"
            ],
            "example": 18.6792
          },
          "poi_longitude": {
            "type": [
              "number",
              "null"
            ],
            "example": -68.4014
          },
          "poi_image_url": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "vehicle_number": {
            "type": [
              "string",
              "null"
            ],
            "example": "T-114"
          },
          "license_plate": {
            "type": [
              "string",
              "null"
            ],
            "example": "L139558"
          },
          "event_count": {
            "type": [
              "integer",
              "null"
            ],
            "example": 318
          },
          "distance_to_poi_meters": {
            "type": [
              "number",
              "null"
            ],
            "example": 41.5
          },
          "poi_version": {
            "type": [
              "integer",
              "null"
            ],
            "example": 3
          },
          "created_at": {
            "type": "string",
            "example": "2026-05-20T14:43:01.117Z"
          },
          "updated_at": {
            "type": "string",
            "example": "2026-05-20T14:43:01.117Z"
          }
        },
        "required": [
          "id",
          "org_id",
          "poi_id",
          "vehicle_external_id",
          "stay_id",
          "visit_start",
          "visit_end",
          "duration_minutes",
          "poi_name",
          "poi_tags",
          "poi_latitude",
          "poi_longitude",
          "poi_image_url",
          "vehicle_number",
          "license_plate",
          "event_count",
          "distance_to_poi_meters",
          "poi_version",
          "created_at",
          "updated_at"
        ]
      },
      "POIVisitListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/POIVisit"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "Toll": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "latitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "longitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional photo of the toll booth (legacy `image` column)."
          },
          "category_1_price": {
            "type": [
              "integer",
              "null"
            ]
          },
          "category_2_price": {
            "type": [
              "integer",
              "null"
            ]
          },
          "category_3_price": {
            "type": [
              "integer",
              "null"
            ]
          },
          "category_4_price": {
            "type": [
              "integer",
              "null"
            ]
          },
          "category_5_price": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "latitude",
          "longitude",
          "image_url",
          "category_1_price",
          "category_2_price",
          "category_3_price",
          "category_4_price",
          "category_5_price"
        ]
      },
      "TollListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Toll"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "TollCharge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "org_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "date": {
            "type": [
              "string",
              "null"
            ]
          },
          "amount": {
            "type": [
              "number",
              "null"
            ]
          },
          "tag": {
            "type": [
              "integer",
              "null"
            ]
          },
          "station": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": [
              "string",
              "null"
            ]
          },
          "vehicle_external_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Vehicle currently attributed to this charge (post-matching). Legacy `vehicle_id`."
          },
          "matched_vehicle_external_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Vehicle the validation pipeline matched against (legacy `matched_vehicle_id`)."
          },
          "matched_license_plate": {
            "type": [
              "string",
              "null"
            ]
          },
          "matched_message_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "csv_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "import_batch_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "validated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "validated_by": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_duplicate": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "duplicate_resolution": {
            "type": [
              "string",
              "null"
            ]
          },
          "duplicate_validation_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "category_error": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "category_validation_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "expected_amount": {
            "type": [
              "number",
              "null"
            ]
          },
          "amount_difference": {
            "type": [
              "number",
              "null"
            ]
          },
          "tag_status_at_time": {
            "type": [
              "string",
              "null"
            ]
          },
          "tag_status_error": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "tag_status_validation_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "location_validation_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "distance_meters": {
            "type": [
              "number",
              "null"
            ]
          },
          "time_diff_minutes": {
            "type": [
              "number",
              "null"
            ]
          },
          "fraud_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "fraud_reasons": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_fraudulent": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "validation_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "validation_details": {
            "type": [
              "string",
              "null"
            ]
          },
          "overall_validation_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "assignment_date_used": {
            "type": [
              "string",
              "null"
            ]
          },
          "fleet": {
            "type": [
              "string",
              "null"
            ]
          },
          "manual_revision_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "manual_revision_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "manual_revision_by": {
            "type": [
              "string",
              "null"
            ]
          },
          "manual_revision_comment": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "org_id",
          "date",
          "amount",
          "tag",
          "station",
          "type",
          "vehicle_external_id",
          "matched_vehicle_external_id",
          "matched_license_plate",
          "matched_message_id",
          "csv_id",
          "import_batch_id",
          "validated_at",
          "validated_by",
          "is_duplicate",
          "duplicate_resolution",
          "duplicate_validation_status",
          "category_error",
          "category_validation_status",
          "expected_amount",
          "amount_difference",
          "tag_status_at_time",
[...]
